/* buttons-as-links, to allow macros from apparent links */
.buttlink {
   overflow: visible;
   margin: 0;
   padding: 0;
   border: 0;
   background: transparent;
   font: inherit;
   line-height: normal;
   text-decoration: underline;
   cursor: pointer;
}
.buttlink:hover,
.buttlink:focus {
    background-color:#e3e0d1;
}
.item { color: #620; }
.skill { color: #007; }
a img { border: 0; }

/* Bat-tabs  */
#battab {
   position: fixed;
   height: 335px;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 0;
   margin: 0;
   text-align: center;
}
#battab div.panel {
   clear: both;
   background-color: rgba(255,255,255,0.8);
   margin-top: 0px;
   padding-top: 0px;
   height: 300px;
}			
#battab ul {
   height: 18px;
   padding: 0px;
   list-style: none;
   margin-left: 0;
   margin-bottom: 0;
   border-bottom: 1px solid #000;
}  
#battab ul li {
   float: left;
   margin-left: 1em;
   border: 2px solid #777;
   border-bottom: 1px solid #000;
   background-color: #fff;
}
#battab ul li a {
   text-decoration: none;
   color: #777;
   font-weight: bold;
   font-size: 10pt;
   padding: 1px 7px;
}
#battab ul li.active { border-color: #000; border-bottom: 1px solid #fff; }
#battab ul li.active a { color:#000;}
#kolformbox, #blacklist, #wikibox { overflow: auto; }

/* Style the rest of the BAT TABLE */
.dataTable { border-spacing: 0; }
.dataTable thead th {
   border-bottom: 1px solid black;
   font-weight: bold; font-size: 0.8em;
}
#battable td {
   text-align: center;
   font-size: 0.75em;
   padding: 0px;
   padding-left: 3px;
   margin: 0;
}
#battable td.attackcol {
   text-align: left;
}
#battable td.mpcol {
   color: blue;
}
#battable td.delevelcol {
   color: gray;
   font-weight: 900;
}
#battable td.profitcol {
   font-weight: bold;
   text-align: right;
}
tr.odd { background-color: #f2f2f2; }
tr.even { background-color: white; }
#battable_info {
   font-size: 0.7em;
   color: #555;
   border-top: 1px solid black;
}
#battable_filter {
   position: absolute;
   right: 4px;
   top: 8px;
   font-size: 0.6em;
}
#battable_filter label input {
   width: 111px;
   padding: 0;
   margin: 0;
}
.littlemeat {
   color: green;
   font-size: 0.7em;
}

/* Blacklist */
#blacktable {
   width: 40%;
   font-size: 0.9em;
}
#blacktable  td {
   padding: 3px;
   padding-right: 7px;
}
#blackformbox {
   position: fixed;
   height: 27px;
   width: 100%;
   bottom: 0;
   padding: 5px;
   border-top: 1px solid black;
   background-color: rgba(255,255,255,0.8);
   margin: 0px;
   text-align: center;
   display: none;
}
#blackformbox input {
   margin-right: 6px;
}

/* Action Menu! */
#actbox {
   position: fixed;
   display: none;
   top: 40px;
   left: -50px;
   padding: 3px;
   font-size: 1.0em;
   z-index: 100;
}
.onemenu {
   border: 2px solid #000;
   border-left: none;
   background-color: white;
   padding: 2px;
   width: 28px;
   margin-bottom: 4px;
   text-align: right;
}
.popout {
   position: fixed;
   left: 39px;
   display: none;
   background-color: white;
   font-size: 0.9em;
   border: 1px solid #222;
   padding: 6px;
   text-align: left;
}
.littlesort {
   font-size: 0.7em;
   background-color: #ddd;
   padding: 1px;
   cursor: pointer;
}
.littlesort img {
   height: 22px;
   width: 22px;
   vertical-align: middle;
   margin-right: 0;
   padding-right: 0;
}

.versioninfo {
   background-color: #ddd;
   border: 1px solid #bbb;
   padding: 5px;
}
#batquote {
   color: #555;
   font-size: 0.8em;
   font-style: italic;
   background-color: #eee;
   padding: 12px;
}

/* General */
.hot { color: red; }
.cold { color: blue; }
.spooky { color: gray; }
.stench { color: green; }
.sleaze { color: blueviolet; }
#undermon {
   font-size: 0.7em;
   color: #888;
}
.goalmon {
   color: green;
   font-weight: bold;
}
.dimmed {
   opacity: 0.4;
   filter: alpha(opacity=40); /* msie */
}